<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
	http://www.springframework.org/schema/task  
    http://www.springframework.org/schema/task/spring-task-4.0.xsd"  >

	<!-- 使用spring自带的占位符替换功能 -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<!-- 允许JVM参数覆盖 -->
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<!-- 忽略没有找到的资源文件 -->
		<property name="ignoreResourceNotFound" value="true" />
		<!-- 配置资源文件 -->
		<property name="locations">
			<list>
				<value>classpath:meiliyun-analyser.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="scpTask" class="com.meiliyun.analyser.bean.ScpTask" />  
   	<task:scheduled-tasks>  
       	<task:scheduled ref="scpTask" method="scpFile" cron="${scp.time.tigger}" />  
   	</task:scheduled-tasks>  
	
	<!-- 扫描包 -->
	<context:component-scan base-package="com.meiliyun.analyser"/>

	 <!-- 定义数据源  meiliyun-->
	<bean id="dataSource_meiliyun" class="org.apache.tomcat.jdbc.pool.DataSource"
		destroy-method="close">
		<property name="driverClassName" value="${meiliyun.jdbc.driverClassName}" />
		<property name="url" value="${meiliyun.jdbc.url}" />
		<property name="username" value="${meiliyun.jdbc.username}" />
		<property name="password" value="${meiliyun.jdbc.password}" />
		
		<property name="initialSize" value="${db.initialSize}" />
		<property name="maxActive" value="${db.maxActive}" />
		<property name="maxIdle" value="${db.maxIdle}" />
		<property name="maxWait" value="${db.maxWait}" />
		<property name="minIdle" value="${db.minIdle}" />
		<property name="testWhileIdle" value="${db.testWhileIdle}" />
		<property name="validationQuery" value="${db.validationQuery}" />
		<property name="testOnBorrow" value="${db.testOnBorrow}" />
		<property name="removeAbandoned" value="${db.removeAbandoned}" />
		<property name="removeAbandonedTimeout" value="${db.removeAbandonedTimeout}" />
		<property name="logAbandoned" value="${db.logAbandoned}" />
		<property name="jdbcInterceptors" value="${db.jdbcInterceptors}" />
	</bean>
	
	<bean id="sqlMapClient_meiliyun" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation" value="classpath:/config/sqlMapConfig_meiliyun.xml" />
		<property name="dataSource" ref="dataSource_meiliyun" />
	</bean>

</beans>
